# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Misc Stuff to Ignore
# =========================
# passwords
join_forum_data/reddit_tokens.py
# data binaries. too big, move it manually with a HDD wherever needed
data/*
*.bin
# python cache files
__pycache__/*

# models intermediate weights and configs are too big
models/*
# debugging files
debug/*
# ipython temp files
.ipynb_checkpoints/
# =========================
# Spyder config folder
# =========================
.spyproject/
